<div class="footer">
    <div class="box1">
        Priority Skill Center Pvt Ltd.
    </div>
    <div class="box2">
        <ul>
            <li>Home</li>
            <li>Trending Courses</li>
            <li>IT Courses</li>
            <li>CAD Design Courses</li>
            <li>Languages</li>
            <li>Contact Us</li>
        </ul>
    </div>
    <div class="box3">
        <ul>
            <li>24x7 Call Support</li>
            <li>Privacy & Policy</li>
            <li>Terms Of Use</li>
        </ul>
    </div>
    <div class="box4">
        <div>Follow Us</div>
    </div>
</div>
